    .load-spin {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: transparent;
        border: 0.5rem solid darken($color: #f6f6f6, $amount: 3);
        border-top-color: $colour-third;
        animation: 1.5s spin linear infinite;
    }
    
    .localisation {
        @include center;
        height: 3.25rem;
        background-color: $colour-ligthgrey;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        color: darkness-shift($colour-ligthgrey);
        font-size: 0.9em;
        font-family: 'Roboto', sans-serif;
        &__tag {
            display: flex;
            margin: auto;
            & i {
                padding-right: 1.2rem;
            }
            & p {
                margin: 0;
            }
        }
    }
    
    .flow {
        display: flex;
        justify-content: space-around;
        flex-flow: column;
        padding-right: $layout-margin;
        padding-left: $layout-margin;
        box-sizing: border-box;
        width: 100%
    }
    
    .explore {
        @include center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: lighten($color: #f6f6f6, $amount: 2);
        padding-bottom: 3.375rem;
        & h1 {
            width: 75%;
            font-size: 1.5em;
            margin: 0;
            margin-top: 2.5rem;
        }
        & p {
            font-size: 1em;
            font-weight: lighter;
            width: 90%;
            margin: 0;
            margin-top: 1rem;
            margin-bottom: 1.8rem;
        }
    }
    
    .function {
        @include center;
        padding-bottom: 4rem;
        background-color: $colour-white;
        & h3 {
            margin: 3.25rem 0 1.9rem 0;
            font-weight: 900;
        }
        &__list {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            margin: 0;
            padding: 0;
            &__items {
                @include function-step;
            }
        }
    }
    
    .restaurant {
        margin: auto;
        height: 76.5rem;
        background-color: $colour-ligthgrey;
        padding-bottom: 3.8rem;
        & h3 {
            margin-top: 3.5rem;
            font-weight: 900;
            width: 100%;
            @media screen and (min-width: 668px)and (max-width: 1025px) {
                margin-top: $layout-margin;
            }
        }
        @media screen and (min-width:668px)and (max-width:1025px) {
            max-height: 45rem;
            display: flex;
            flex-flow: row wrap;
            padding-bottom: $layout-margin;
            justify-content: space-between;
        }
        @media screen and (min-width:1025px) {
            @include center;
            max-height: 45rem;
            display: flex;
            flex-flow: row wrap;
            padding-bottom: $layout-margin;
            justify-content: space-between;
        }
        &__item {
            @include prev__card();
            @media screen and (min-width: 668px)and (max-width: 1025px) {
                width: 45%;
            }
            @media screen and (min-width: 1025px) {
                width: 49%;
            }
            & p{
                font-weight: lighter;
            }
            

        }
        &__item__imgbox {
            @include img-ratio();
        }
    }