.menu {
    padding: 0;
    background-color: $colour-ligthgrey;
    box-sizing: border-box;
    
    @media screen and (min-width: 1025px) {
        padding: 0 10% 0 10%;
    }
    &__top__imgbox {
        width: 100%;
        overflow: hidden;
        @media screen and (min-width: 668px)and (max-width: 1025px) {
            max-height: 35rem;
            overflow: hidden;
        }
        @media screen and (min-width: 1025px) {
            max-height: 25rem;
            overflow: hidden;
        }
        & img {
            @include img-ratio();
            @media screen and (min-width: 1025px) {
                box-sizing: border-box;
                position: relative;
                bottom: 9rem;
            }
            @media screen and (min-width: 2000px) {
                box-sizing: border-box;
                position: relative;
                bottom: 30rem;
            }
        }
    }
    &__contain {
        background-color: $colour-ligthgrey;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: -2rem;
        border-radius: 2rem 2rem 0 0;
        padding: 0 $layout-margin 0 $layout-margin;
        @media screen and (min-width: 668px)and (max-width: 1025px) {
            padding: 0 10% 0 10%;
        }
        @media screen and (min-width: 1025px) {
            padding: 0 25% 0 25%;
        }
        &__header{
            display: flex;
            width: 100%;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            &--right {
                display: flex;
            font-size: 1.5em;
            justify-content: center;
            align-items: center;
        .light {
            position: absolute;
            z-index: 1;
            transition: opacity;
            background: linear-gradient(205deg, #9356DC, #FF79DA 75%);
            color: black;
            -webkit-background-clip: text;
            &:hover {
                opacity: 0;
            }
        }
        .full {
            opacity: 0;
            &::before {
                background: linear-gradient(205deg, #9356DC, #FF79DA 75%);
                color: transparent;
                -webkit-background-clip: text;
            }
                
                }
                 :hover+.full {
                    opacity: 1;
                }
            }
        }
        & h1 {
            font-family: $font-header-menu;
            text-align: center;
        }
        &__category {
            width: 100%;
            & h4 {
                font-weight: $font-light;
                text-transform: uppercase;
                margin-bottom: 0.3rem;
                
            }
        }
        &__divider {
            @include divider-green();
        }
    }
    &__list {
        padding: 0;
        & li:nth-child(1) {
            animation: bottom-slide 1s;
        }
        & li:nth-child(2) {
            animation: bottom-slide 1.5s;
        }
        & li:nth-child(3) {
            animation: bottom-slide 2s;
        }
        & li:nth-child(4) {
            animation: bottom-slide 2.5s;
        }
        &__items {
            cursor: pointer;
            background-color: $colour-white;
            width: 100%;
            border-radius: 1rem;
            display: inline-flex;
            align-items: center;
            margin-bottom: 0.8rem;
            box-shadow: $function_shadow;
            overflow: hidden;
             :hover+&--right>.menu__validation--anim>i,
             :hover>.menu__validation--anim>i,
             :hover>&--right {
                margin-right: 0;
                transform: rotate(360deg);
            }
            &--left {
                width: 100%;
                height: 3rem;
                display: flex;
                align-items: center;
                font-size: 0.8em;
                padding-left: 1em;
                overflow: hidden;
                position: relative;
                justify-content: flex-start;
                
                & p {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 0;
                }
            }
            &--right {
                height: 3rem;
                display: flex;
                flex-flow: row;
                justify-content: flex-end;
                align-items: flex-end;
                position: relative;
                margin-right:-3rem;
                transition: margin-right 1s ease-in-out;
                & p {
                    font-weight: bold;
                    font-size: 0.9em;
                    margin: 0 1em 0 0 ;
                }
            }
        }
    }
    &__validation--anim {
        background-color: $colour-third;
        color: $colour-white;
        display: inline-flex;
        height: 100%;
        width: 3rem;
        align-items: center;
        justify-content: center;
        & i {
            transform: rotate(-360deg);
            transition: transform 1s ease;
        }
    }
}